<div class="page " style="display: flex;">
  <div class="col-md-9">
  <div class="row">
    <div class="col-12">
      <div class="row">
        <div class="col-lg-3 col-md-3 logo-container">
          <p class="logo-text">ikick</p>
        </div>

        <!-- logo for small screens -->
        <div class="logo-row">
          <div class="small-logo-text">iKick</div>
          <div class="small-logo-icons">
            <i class="fa fa-comment" aria-hidden="true"></i>
            <i class="fa fa-bookmark" aria-hidden="true"></i>
            <i class="fa fa-bell" aria-hidden="true"></i>
          </div>
        </div>
        <!-- search-folder for middle-screen  -->
        <div class="col-lg-8 col-md-8">
          <div class="box">
            <i class="fa fa-search" aria-hidden="true"></i>
            <input type="text" placeholder="search" />
          </div>
        </div>
        <!-- categories for small screen  -->
        <div class="row-small">
          <div class="categeories-row-small">
            <div class="categeories-header-text"><h5>Categeories</h5></div>
            <div class="categeories-text">see all &gt;</div>
          </div>
        </div>
        <div class="icons-row-small">
          <div class="image-icons-small">
         <img src="../assets/disco-ball (1).png" alt=""> 
          <img src="../assets/dancer1.jpg" alt="">
          <img src="../assets/pianist.png" alt="">
          <img src="../assets/film.png" alt="">
          </div>
          <div class="image-icons-small">
            <i>Featured</i>
            <i>Dancers</i>
            <i>Musician</i>
            <i>Film star</i>
          </div>
        </div>
        <div class="featured-row-small" style="margin-top: 10px;">
          <div class="featured-header" style="font-size: 20px;
          font-weight: 700;">Featured Categeories</div>
          <div class="featured-text">see all &gt;</div>
        </div>
        <div class="profile-row-small">
          <div class="user-row-small">
            <img src="../assets/istockphoto-1339527593-612x612.jpg" alt="">
            <h6>John Doe</h6>
          </div>
          <div class="user-row-small">
            <img src="../assets/istockphoto-1339527593-612x612.jpg" alt="">
            <h6>John Doe</h6>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="row">
        <div class="col-md-3 col-lg-3 side-menu-bar">
          <div class="sidebar">
            <a href="#home"><i class="fa fa-fw fa-home"></i> Home</a>
            <a href="#services"><i class="fa fa-fw fa-wrench"></i> Insight</a>
            <a href="#clients"><i class="fa fa-fw fa-wrench"></i> My Bid</a>
            <a href="#contact"><i class="fa fa-commenting"></i> Message</a>
            <a href="#notification"><i class="fa fa-bookmark"> Save</i></a>
            <a href="#notification"
              ><i class="fa fa-plus-square-o"> Create</i></a
            >
            <a href="#notification"><i class="fa fa-user"> profile</i></a>
          </div>
        </div>
        <div class="col-md-9 col-lg-9 col-sm-6 col-xs-6 overflow" style="padding: 18px;">
          <div class="active-listings-row">
            <div class="active-listings-header"><strong>Active Bids</strong>
            </div>
            <div class="active-listings-text">See all &gt;</div>
          </div>
          <div class="parent">
            <div class="col">
              <div class="card">
                <div class="imgBx">
                  <img src="../assets/shoe.jpg" alt="" class="cover" />
                </div>
                <div class="actionBtns">
                  <div class="left" style="display: flex; justify-content: space-around;">
                    <i class="bi bi-heart"></i>
                    <i class="bi bi-share"></i>
                    
                  </div>
                  <div class="right">
                    <i class="text">45 Likes</i> 
                    <i class="text">.434 Views</i>
                    
                  </div>
                </div>
                <div class="actionBtns" >
                  <div class="left" style="display: flex; justify-content: space-around;">
                    <div style="background: lightblue;
                    font-weight: 700;
                    border-radius: 3px;
                    border: 1px solid black;
                    font-size: 9px;">0d: 5h: 30min: 25sec</div>
                    
                  </div>
                  <div class="right">
                    <h6>30 Bids</h6>
                    
                  </div>
                </div>
                <div
                  class="actionBtns-small"
                  style=" justify-content: space-between"
                >
                  <div class="left">
                    <div class="left-logo">
                    <i class="bi bi-heart"
                      ><div style="font-size: 9px">45k</div></i
                    >

                    <i class="bi bi-eye-fill"
                      ><div style="font-size: 9px">17k</div></i
                    >
                    <i class="bi bi-cloud-arrow-up"></i>
                  </div>
                  <div class="left-time" style="border: 1px solid black;
                  font-size: 11px;
                  border-radius: 4px;
                  background: lightblue;">0d: 5h: 30m: 25s</div>
                  </div>
                  

                  <div class="right" style="text-align: end">
                    <i
                      class="bi bi-bookmark bookmark"
                      style=" font-size: 15px"
                    ></i>
                    <div>
                    <h6 style="text-align: center">30 Bids</h6>
                  </div>
                  </div>
                 
                </div>
                <div class="product-matter">
                  <div><h5 style="font-weight: bolder;">Product name</h5></div>
                  <p style="color: grey;">current Bid</p>
                  <h5 style="font-weight: revert;
                  font-size: initial;"><b>$ 875.00</b></h5>
                </div>
                <div class="raise-to-bid-container" style="display: flex; margin: 10px;
                border: 1px solid gray;
                border-radius: 5px;
                justify-content: space-around;
                background: lightgray;">
                  <div class="hammer-icon">
                    <!-- You can replace the content inside the div with your preferred icon or image -->
                    <img
                      src=".//../assets/hammer.png"
                      alt=""
                      style="
                        border: 1px solid grey;
                        height: 28px;
                        background: #dbe0e5;
                      "
                    />
                  </div>
                  <div class="raise-to-bid-text">Raise to Bid</div>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card">
                <div class="imgBx">
                  <img src="../assets/shoe.jpg" alt="" class="cover" />
                </div>
                <div class="actionBtns">
                  <div class="left" style="display: flex; justify-content: space-around;">
                    <i class="bi bi-heart"></i>
                    <i class="bi bi-share"></i>
                    
                  </div>
                  <div class="right">
                    <i class="text">45 Likes</i> 
                    <i class="text">.434 Views</i>
                    
                  </div>
                </div>
                <div class="actionBtns" >
                  <div class="left" style="display: flex; justify-content: space-around;">
                    <div style="background: lightblue;
                    font-weight: 700;
                    border-radius: 3px;
                    border: 1px solid black;
                    font-size: 9px;">0d: 5h: 30min: 25sec</div>
                    
                  </div>
                  <div class="right">
                    <h6>30 Bids</h6>
                    
                  </div>
                </div>
                <div
                  class="actionBtns-small"
                  style=" justify-content: space-between"
                >
                  <div class="left">
                    <div class="left-logo">
                    <i class="bi bi-heart"
                      ><div style="font-size: 9px">45k</div></i
                    >

                    <i class="bi bi-eye-fill"
                      ><div style="font-size: 9px">17k</div></i
                    >
                    <i class="bi bi-cloud-arrow-up"></i>
                  </div>
                  <div class="left-time" style="border: 1px solid black;
                  font-size: 11px;
                  border-radius: 4px;
                  background: lightblue;">0d: 5h: 30m: 25s</div>
                  </div>
                  

                  <div class="right" style="text-align: end">
                    <i
                      class="bi bi-bookmark bookmark"
                      style=" font-size: 15px"
                    ></i>
                    <div>
                    <h6 style="text-align: center">30 Bids</h6>
                  </div>
                  </div>
                 
                </div>
                <div class="product-matter">
                  <div><h5 style="font-weight: bolder;">Product name</h5></div>
                  <p style="color: grey;">current Bid</p>
                  <h5 style="font-weight: revert;
                  font-size: initial;"><b>$ 875.00</b></h5>
                </div>
                <div class="raise-to-bid-container" style="display: flex; margin: 10px;
                border: 1px solid gray;
                border-radius: 5px;
                justify-content: space-around;
                background: lightgray;">
                  <div class="hammer-icon">
                    <!-- You can replace the content inside the div with your preferred icon or image -->
                    <img
                      src=".//../assets/hammer.png"
                      alt=""
                      style="
                        border: 1px solid grey;
                        height: 28px;
                        background: #dbe0e5;
                      "
                    />
                  </div>
                  <div class="raise-to-bid-text">Raise to Bid</div>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card">
                <div class="imgBx">
                  <img src="../assets/shoe.jpg" alt="" class="cover" />
                </div>
                <div class="actionBtns">
                  <div class="left" style="display: flex; justify-content: space-around;">
                    <i class="bi bi-heart"></i>
                    <i class="bi bi-share"></i>
                    
                  </div>
                  <div class="right">
                    <i class="text">45 Likes</i> 
                    <i class="text">.434 Views</i>
                    
                  </div>
                </div>
                <div class="actionBtns" >
                  <div class="left" style="display: flex; justify-content: space-around;">
                    <div style="background: lightblue;
                    font-weight: 700;
                    border-radius: 3px;
                    border: 1px solid black;
                    font-size: 9px;">0d: 5h: 30min: 25sec</div>
                    
                  </div>
                  <div class="right">
                    <h6>30 Bids</h6>
                    
                  </div>
                </div>
                <div
                  class="actionBtns-small"
                  style=" justify-content: space-between"
                >
                  <div class="left">
                    <div class="left-logo">
                    <i class="bi bi-heart"
                      ><div style="font-size: 9px">45k</div></i
                    >

                    <i class="bi bi-eye-fill"
                      ><div style="font-size: 9px">17k</div></i
                    >
                    <i class="bi bi-cloud-arrow-up"></i>
                  </div>
                  <div class="left-time" style="border: 1px solid black;
                  font-size: 11px;
                  border-radius: 4px;
                  background: lightblue;">0d: 5h: 30m: 25s</div>
                  </div>
                  

                  <div class="right" style="text-align: end">
                    <i
                      class="bi bi-bookmark bookmark"
                      style=" font-size: 15px"
                    ></i>
                    <div>
                    <h6 style="text-align: center">30 Bids</h6>
                  </div>
                  </div>
                 
                </div>
                <div class="product-matter">
                  <div><h5 style="font-weight: bolder;">Product name</h5></div>
                  <p style="color: grey;">current Bid</p>
                  <h5 style="font-weight: revert;
                  font-size: initial;"><b>$ 875.00</b></h5>
                </div>
                <div class="raise-to-bid-container" style="display: flex; margin: 10px;
                border: 1px solid gray;
                border-radius: 5px;
                justify-content: space-around;
                background: lightgray;">
                  <div class="hammer-icon">
                    <!-- You can replace the content inside the div with your preferred icon or image -->
                    <img
                      src=".//../assets/hammer.png"
                      alt=""
                      style="
                        border: 1px solid grey;
                        height: 28px;
                        background: #dbe0e5;
                      "
                    />
                  </div>
                  <div class="raise-to-bid-text">Raise to Bid</div>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card">
                <div class="imgBx">
                  <img src="../assets/shoe.jpg" alt="" class="cover" />
                </div>
                <div class="actionBtns">
                  <div class="left" style="display: flex; justify-content: space-around;">
                    <i class="bi bi-heart"></i>
                    <i class="bi bi-share"></i>
                    
                  </div>
                  <div class="right">
                    <i class="text">45 Likes</i> 
                    <i class="text">.434 Views</i>
                    
                  </div>
                </div>
                <div class="actionBtns" >
                  <div class="left" style="display: flex; justify-content: space-around;">
                    <div style="background: lightblue;
                    font-weight: 700;
                    border-radius: 3px;
                    border: 1px solid black;
                    font-size: 9px;">0d: 5h: 30min: 25sec</div>
                    
                  </div>
                  <div class="right">
                    <h6>30 Bids</h6>
                    
                  </div>
                </div>
                <div
                  class="actionBtns-small"
                  style=" justify-content: space-between"
                >
                  <div class="left">
                    <div class="left-logo">
                    <i class="bi bi-heart"
                      ><div style="font-size: 9px">45k</div></i
                    >

                    <i class="bi bi-eye-fill"
                      ><div style="font-size: 9px">17k</div></i
                    >
                    <i class="bi bi-cloud-arrow-up"></i>
                  </div>
                  <div class="left-time" style="border: 1px solid black;
                  font-size: 11px;
                  border-radius: 4px;
                  background: lightblue;">0d: 5h: 30m: 25s</div>
                  </div>
                  

                  <div class="right" style="text-align: end">
                    <i
                      class="bi bi-bookmark bookmark"
                      style=" font-size: 15px"
                    ></i>
                    <div>
                    <h6 style="text-align: center">30 Bids</h6>
                  </div>
                  </div>
                 
                </div>
                <div class="product-matter">
                  <div><h5 style="font-weight: bolder;">Product name</h5></div>
                  <p style="color: grey;">current Bid</p>
                  <h5 style="font-weight: revert;
                  font-size: initial;"><b>$ 875.00</b></h5>
                </div>
                <div class="raise-to-bid-container" style="display: flex; margin: 10px;
                border: 1px solid gray;
                border-radius: 5px;
                justify-content: space-around;
                background: lightgray;">
                  <div class="hammer-icon">
                    <!-- You can replace the content inside the div with your preferred icon or image -->
                    <img
                      src=".//../assets/hammer.png"
                      alt=""
                      style="
                        border: 1px solid grey;
                        height: 28px;
                        background: #dbe0e5;
                      "
                    />
                  </div>
                  <div class="raise-to-bid-text">Raise to Bid</div>
                </div>
              </div>
            </div>
          </div>
          <div class="parent">
            <div class="col">
              <div class="card">
                <div class="imgBx">
                  <img src="../assets/shoe.jpg" alt="" class="cover" />
                </div>
                <div class="actionBtns">
                  <div class="left" style="display: flex; justify-content: space-around;">
                    <i class="bi bi-heart"></i>
                    <i class="bi bi-share"></i>
                    
                  </div>
                  <div class="right">
                    <i class="text">45 Likes</i> 
                    <i class="text">.434 Views</i>
                    
                  </div>
                </div>
                <div class="actionBtns" >
                  <div class="left" style="display: flex; justify-content: space-around;">
                    <div style="background: lightblue;
                    font-weight: 700;
                    border-radius: 3px;
                    border: 1px solid black;
                    font-size: 9px;">0d: 5h: 30min: 25sec</div>
                    
                  </div>
                  <div class="right">
                    <h6>30 Bids</h6>
                    
                  </div>
                </div>
                <div
                  class="actionBtns-small"
                  style=" justify-content: space-between"
                >
                  <div class="left">
                    <div class="left-logo">
                    <i class="bi bi-heart"
                      ><div style="font-size: 9px">45k</div></i
                    >

                    <i class="bi bi-eye-fill"
                      ><div style="font-size: 9px">17k</div></i
                    >
                    <i class="bi bi-cloud-arrow-up"></i>
                  </div>
                  <div class="left-time" style="border: 1px solid black;
                  font-size: 11px;
                  border-radius: 4px;
                  background: lightblue;">0d: 5h: 30m: 25s</div>
                  </div>
                  

                  <div class="right" style="text-align: end">
                    <i
                      class="bi bi-bookmark bookmark"
                      style=" font-size: 15px"
                    ></i>
                    <div>
                    <h6 style="text-align: center">30 Bids</h6>
                  </div>
                  </div>
                 
                </div>
                <div class="product-matter">
                  <div><h5 style="font-weight: bolder;">Product name</h5></div>
                  <p style="color: grey;">current Bid</p>
                  <h5 style="font-weight: revert;
                  font-size: initial;"><b>$ 875.00</b></h5>
                </div>
                <div class="raise-to-bid-container" style="display: flex; margin: 10px;
                border: 1px solid gray;
                border-radius: 5px;
                justify-content: space-around;
                background: lightgray;">
                  <div class="hammer-icon">
                    <!-- You can replace the content inside the div with your preferred icon or image -->
                    <img
                      src=".//../assets/hammer.png"
                      alt=""
                      style="
                        border: 1px solid grey;
                        height: 28px;
                        background: #dbe0e5;
                      "
                    />
                  </div>
                  <div class="raise-to-bid-text">Raise to Bid</div>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card">
                <div class="imgBx">
                  <img src="../assets/shoe.jpg" alt="" class="cover" />
                </div>
                <div class="actionBtns">
                  <div class="left" style="display: flex; justify-content: space-around;">
                    <i class="bi bi-heart"></i>
                    <i class="bi bi-share"></i>
                    
                  </div>
                  <div class="right">
                    <i class="text">45 Likes</i> 
                    <i class="text">.434 Views</i>
                    
                  </div>
                </div>
                <div class="actionBtns" >
                  <div class="left" style="display: flex; justify-content: space-around;">
                    <div style="background: lightblue;
                    font-weight: 700;
                    border-radius: 3px;
                    border: 1px solid black;
                    font-size: 9px;">0d: 5h: 30min: 25sec</div>
                    
                  </div>
                  <div class="right">
                    <h6>30 Bids</h6>
                    
                  </div>
                </div>
                <div
                  class="actionBtns-small"
                  style=" justify-content: space-between"
                >
                  <div class="left">
                    <div class="left-logo">
                    <i class="bi bi-heart"
                      ><div style="font-size: 9px">45k</div></i
                    >

                    <i class="bi bi-eye-fill"
                      ><div style="font-size: 9px">17k</div></i
                    >
                    <i class="bi bi-cloud-arrow-up"></i>
                  </div>
                  <div class="left-time" style="border: 1px solid black;
                  font-size: 11px;
                  border-radius: 4px;
                  background: lightblue;">0d: 5h: 30m: 25s</div>
                  </div>
                  

                  <div class="right" style="text-align: end">
                    <i
                      class="bi bi-bookmark bookmark"
                      style=" font-size: 15px"
                    ></i>
                    <div>
                    <h6 style="text-align: center">30 Bids</h6>
                  </div>
                  </div>
                 
                </div>
                <div class="product-matter">
                  <div><h5 style="font-weight: bolder;">Product name</h5></div>
                  <p style="color: grey;">current Bid</p>
                  <h5 style="font-weight: revert;
                  font-size: initial;"><b>$ 875.00</b></h5>
                </div>
                <div class="raise-to-bid-container" style="display: flex; margin: 10px;
                border: 1px solid gray;
                border-radius: 5px;
                justify-content: space-around;
                background: lightgray;">
                  <div class="hammer-icon">
                    <!-- You can replace the content inside the div with your preferred icon or image -->
                    <img
                      src=".//../assets/hammer.png"
                      alt=""
                      style="
                        border: 1px solid grey;
                        height: 28px;
                        background: #dbe0e5;
                      "
                    />
                  </div>
                  <div class="raise-to-bid-text">Raise to Bid</div>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card">
                <div class="imgBx">
                  <img src="../assets/shoe.jpg" alt="" class="cover" />
                </div>
                <div class="actionBtns">
                  <div class="left" style="display: flex; justify-content: space-around;">
                    <i class="bi bi-heart"></i>
                    <i class="bi bi-share"></i>
                    
                  </div>
                  <div class="right">
                    <i class="text">45 Likes</i> 
                    <i class="text">.434 Views</i>
                    
                  </div>
                </div>
                <div class="actionBtns" >
                  <div class="left" style="display: flex; justify-content: space-around;">
                    <div style="background: lightblue;
                    font-weight: 700;
                    border-radius: 3px;
                    border: 1px solid black;
                    font-size: 9px;">0d: 5h: 30min: 25sec</div>
                    
                  </div>
                  <div class="right">
                    <h6>30 Bids</h6>
                    
                  </div>
                </div>
                <div
                  class="actionBtns-small"
                  style=" justify-content: space-between"
                >
                  <div class="left">
                    <div class="left-logo">
                    <i class="bi bi-heart"
                      ><div style="font-size: 9px">45k</div></i
                    >

                    <i class="bi bi-eye-fill"
                      ><div style="font-size: 9px">17k</div></i
                    >
                    <i class="bi bi-cloud-arrow-up"></i>
                  </div>
                  <div class="left-time" style="border: 1px solid black;
                  font-size: 11px;
                  border-radius: 4px;
                  background: lightblue;">0d: 5h: 30m: 25s</div>
                  </div>
                  

                  <div class="right" style="text-align: end">
                    <i
                      class="bi bi-bookmark bookmark"
                      style=" font-size: 15px"
                    ></i>
                    <div>
                    <h6 style="text-align: center">30 Bids</h6>
                  </div>
                  </div>
                 
                </div>
                <div class="product-matter">
                  <div><h5 style="font-weight: bolder;">Product name</h5></div>
                  <p style="color: grey;">current Bid</p>
                  <h5 style="font-weight: revert;
                  font-size: initial;"><b>$ 875.00</b></h5>
                </div>
                <div class="raise-to-bid-container" style="display: flex; margin: 10px;
                border: 1px solid gray;
                border-radius: 5px;
                justify-content: space-around;
                background: lightgray;">
                  <div class="hammer-icon">
                    <!-- You can replace the content inside the div with your preferred icon or image -->
                    <img
                      src=".//../assets/hammer.png"
                      alt=""
                      style="
                        border: 1px solid grey;
                        height: 28px;
                        background: #dbe0e5;
                      "
                    />
                  </div>
                  <div class="raise-to-bid-text">Raise to Bid</div>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card">
                <div class="imgBx">
                  <img src="../assets/shoe.jpg" alt="" class="cover" />
                </div>
                <div class="actionBtns">
                  <div class="left" style="display: flex; justify-content: space-around;">
                    <i class="bi bi-heart"></i>
                    <i class="bi bi-share"></i>
                    
                  </div>
                  <div class="right">
                    <i class="text">45 Likes</i> 
                    <i class="text">.434 Views</i>
                    
                  </div>
                </div>
                <div class="actionBtns" >
                  <div class="left" style="display: flex; justify-content: space-around;">
                    <div style="background: lightblue;
                    font-weight: 700;
                    border-radius: 3px;
                    border: 1px solid black;
                    font-size: 9px;">0d: 5h: 30min: 25sec</div>
                    
                  </div>
                  <div class="right">
                    <h6>30 Bids</h6>
                    
                  </div>
                </div>
                <div
                  class="actionBtns-small"
                  style=" justify-content: space-between"
                >
                  <div class="left">
                    <div class="left-logo">
                    <i class="bi bi-heart"
                      ><div style="font-size: 9px">45k</div></i
                    >

                    <i class="bi bi-eye-fill"
                      ><div style="font-size: 9px">17k</div></i
                    >
                    <i class="bi bi-cloud-arrow-up"></i>
                  </div>
                  <div class="left-time" style="border: 1px solid black;
                  font-size: 11px;
                  border-radius: 4px;
                  background: lightblue;">0d: 5h: 30m: 25s</div>
                  </div>
                  

                  <div class="right" style="text-align: end">
                    <i
                      class="bi bi-bookmark bookmark"
                      style=" font-size: 15px"
                    ></i>
                    <div>
                    <h6 style="text-align: center">30 Bids</h6>
                  </div>
                  </div>
                 
                </div>
                <div class="product-matter">
                  <div><h5 style="font-weight: bolder;">Product name</h5></div>
                  <p style="color: grey;">current Bid</p>
                  <h5 style="font-weight: revert;
                  font-size: initial;"><b>$ 875.00</b></h5>
                </div>
                <div class="raise-to-bid-container" style="display: flex; margin: 10px;
                border: 1px solid gray;
                border-radius: 5px;
                justify-content: space-around;
                background: lightgray;">
                  <div class="hammer-icon">
                    <!-- You can replace the content inside the div with your preferred icon or image -->
                    <img
                      src=".//../assets/hammer.png"
                      alt=""
                      style="
                        border: 1px solid grey;
                        height: 28px;
                        background: #dbe0e5;
                      "
                    />
                  </div>
                  <div class="raise-to-bid-text">Raise to Bid</div>
                </div>
              </div>
            </div>
          </div>
          <div class="active-listings-row" style="margin-top: 14px;">
            <div class="active-listings-header"><strong>Upcoming Bids</strong></div>
            <div class="active-listings-text">See all &gt;</div>
          </div>
          <div class="parent">
            <div class="col">
              <div class="card">
                <div class="imgBx">
                  <img src="../assets/shoe.jpg" alt="" class="cover" />
                </div>
                <div class="actionBtns">
                  <div class="left" style="display: flex; justify-content: space-around;">
                    <i class="bi bi-heart"></i>
                    <i class="bi bi-share"></i>
                    
                  </div>
                  <div class="right">
                    <i class="text">45 Likes</i> 
                    <i class="text">.434 Views</i>
                    
                  </div>
                </div>
                <div class="actionBtns" >
                  <div class="left" style="display: flex; justify-content: space-around;">
                    <div style="background: lightblue;
                    font-weight: 700;
                    border-radius: 3px;
                    border: 1px solid black;
                    font-size: 9px;">0d: 5h: 30min: 25sec</div>
                    
                  </div>
                  <div class="right">
                    <h6>30 Bids</h6>
                    
                  </div>
                </div>
                <div
                  class="actionBtns-small"
                  style=" justify-content: space-between"
                >
                  <div class="left">
                    <div class="left-logo">
                    <i class="bi bi-heart"
                      ><div style="font-size: 9px">45k</div></i
                    >

                    <i class="bi bi-eye-fill"
                      ><div style="font-size: 9px">17k</div></i
                    >
                    <i class="bi bi-cloud-arrow-up"></i>
                  </div>
                  <div class="left-time" style="border: 1px solid black;
                  font-size: 11px;
                  border-radius: 4px;
                  background: lightblue;">0d: 5h: 30m: 25s</div>
                  </div>
                  

                  <div class="right" style="text-align: end">
                    <i
                      class="bi bi-bookmark bookmark"
                      style=" font-size: 15px"
                    ></i>
                    <div>
                    <h6 style="text-align: center">30 Bids</h6>
                  </div>
                  </div>
                 
                </div>
                <div class="product-matter">
                  <div><h5 style="font-weight: bolder;">Product name</h5></div>
                  <p style="color: grey;">current Bid</p>
                  <h5 style="font-weight: revert;
                  font-size: initial;"><b>$ 875.00</b></h5>
                </div>
                <div class="raise-to-bid-container" style="display: flex; margin: 10px;
                border: 1px solid gray;
                border-radius: 5px;
                justify-content: space-around;
                background: purple">
               
                  <div class="raise-to-bid-text" style="color:white">Notify</div>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card">
                <div class="imgBx">
                  <img src="../assets/shoe.jpg" alt="" class="cover" />
                </div>
                <div class="actionBtns">
                  <div class="left" style="display: flex; justify-content: space-around;">
                    <i class="bi bi-heart"></i>
                    <i class="bi bi-share"></i>
                    
                  </div>
                  <div class="right">
                    <i class="text">45 Likes</i> 
                    <i class="text">.434 Views</i>
                    
                  </div>
                </div>
                <div class="actionBtns" >
                  <div class="left" style="display: flex; justify-content: space-around;">
                    <div style="background: lightblue;
                    font-weight: 700;
                    border-radius: 3px;
                    border: 1px solid black;
                    font-size: 9px;">0d: 5h: 30min: 25sec</div>
                    
                  </div>
                  <div class="right">
                    <h6>30 Bids</h6>
                    
                  </div>
                </div>
                <div
                  class="actionBtns-small"
                  style=" justify-content: space-between"
                >
                  <div class="left">
                    <div class="left-logo">
                    <i class="bi bi-heart"
                      ><div style="font-size: 9px">45k</div></i
                    >

                    <i class="bi bi-eye-fill"
                      ><div style="font-size: 9px">17k</div></i
                    >
                    <i class="bi bi-cloud-arrow-up"></i>
                  </div>
                  <div class="left-time" style="border: 1px solid black;
                  font-size: 11px;
                  border-radius: 4px;
                  background: lightblue;">0d: 5h: 30m: 25s</div>
                  </div>
                  

                  <div class="right" style="text-align: end">
                    <i
                      class="bi bi-bookmark bookmark"
                      style=" font-size: 15px"
                    ></i>
                    <div>
                    <h6 style="text-align: center">30 Bids</h6>
                  </div>
                  </div>
                 
                </div>
                <div class="product-matter">
                  <div><h5 style="font-weight: bolder;">Product name</h5></div>
                  <p style="color: grey;">current Bid</p>
                  <h5 style="font-weight: revert;
                  font-size: initial;"><b>$ 875.00</b></h5>
                </div>
                <div class="raise-to-bid-container" style="display: flex; margin: 10px;
                border: 1px solid gray;
                border-radius: 5px;
                justify-content: space-around;
                background: purple">
               
                  <div class="raise-to-bid-text" style="color:white">Notify</div>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card">
                <div class="imgBx">
                  <img src="../assets/shoe.jpg" alt="" class="cover" />
                </div>
                <div class="actionBtns">
                  <div class="left" style="display: flex; justify-content: space-around;">
                    <i class="bi bi-heart"></i>
                    <i class="bi bi-share"></i>
                    
                  </div>
                  <div class="right">
                    <i class="text">45 Likes</i> 
                    <i class="text">.434 Views</i>
                    
                  </div>
                </div>
                <div class="actionBtns" >
                  <div class="left" style="display: flex; justify-content: space-around;">
                    <div style="background: lightblue;
                    font-weight: 700;
                    border-radius: 3px;
                    border: 1px solid black;
                    font-size: 9px;">0d: 5h: 30min: 25sec</div>
                    
                  </div>
                  <div class="right">
                    <h6>30 Bids</h6>
                    
                  </div>
                </div>
                <div
                  class="actionBtns-small"
                  style=" justify-content: space-between"
                >
                  <div class="left">
                    <div class="left-logo">
                    <i class="bi bi-heart"
                      ><div style="font-size: 9px">45k</div></i
                    >

                    <i class="bi bi-eye-fill"
                      ><div style="font-size: 9px">17k</div></i
                    >
                    <i class="bi bi-cloud-arrow-up"></i>
                  </div>
                  <div class="left-time" style="border: 1px solid black;
                  font-size: 11px;
                  border-radius: 4px;
                  background: lightblue;">0d: 5h: 30m: 25s</div>
                  </div>
                  

                  <div class="right" style="text-align: end">
                    <i
                      class="bi bi-bookmark bookmark"
                      style=" font-size: 15px"
                    ></i>
                    <div>
                    <h6 style="text-align: center">30 Bids</h6>
                  </div>
                  </div>
                 
                </div>
                <div class="product-matter">
                  <div><h5 style="font-weight: bolder;">Product name</h5></div>
                  <p style="color: grey;">current Bid</p>
                  <h5 style="font-weight: revert;
                  font-size: initial;"><b>$ 875.00</b></h5>
                </div>
                <div class="raise-to-bid-container" style="display: flex; margin: 10px;
                border: 1px solid gray;
                border-radius: 5px;
                justify-content: space-around;
                background: purple">
               
                  <div class="raise-to-bid-text" style="color:white">Notify</div>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card">
                <div class="imgBx">
                  <img src="../assets/shoe.jpg" alt="" class="cover" />
                </div>
                <div class="actionBtns">
                  <div class="left" style="display: flex; justify-content: space-around;">
                    <i class="bi bi-heart"></i>
                    <i class="bi bi-share"></i>
                    
                  </div>
                  <div class="right">
                    <i class="text">45 Likes</i> 
                    <i class="text">.434 Views</i>
                    
                  </div>
                </div>
                <div class="actionBtns" >
                  <div class="left" style="display: flex; justify-content: space-around;">
                    <div style="background: lightblue;
                    font-weight: 700;
                    border-radius: 3px;
                    border: 1px solid black;
                    font-size: 9px;">0d: 5h: 30min: 25sec</div>
                    
                  </div>
                  <div class="right">
                    <h6>30 Bids</h6>
                    
                  </div>
                </div>
                <div
                  class="actionBtns-small"
                  style=" justify-content: space-between"
                >
                  <div class="left">
                    <div class="left-logo">
                    <i class="bi bi-heart"
                      ><div style="font-size: 9px">45k</div></i
                    >

                    <i class="bi bi-eye-fill"
                      ><div style="font-size: 9px">17k</div></i
                    >
                    <i class="bi bi-cloud-arrow-up"></i>
                  </div>
                  <div class="left-time" style="border: 1px solid black;
                  font-size: 11px;
                  border-radius: 4px;
                  background: lightblue;">0d: 5h: 30m: 25s</div>
                  </div>
                  

                  <div class="right" style="text-align: end">
                    <i
                      class="bi bi-bookmark bookmark"
                      style=" font-size: 15px"
                    ></i>
                    <div>
                    <h6 style="text-align: center">30 Bids</h6>
                  </div>
                  </div>
                 
                </div>
                <div class="product-matter">
                  <div><h5 style="font-weight: bolder;">Product name</h5></div>
                  <p style="color: grey;">current Bid</p>
                  <h5 style="font-weight: revert;
                  font-size: initial;"><b>$ 875.00</b></h5>
                </div>
                <div class="raise-to-bid-container" style="display: flex; margin: 10px;
                border: 1px solid gray;
                border-radius: 5px;
                justify-content: space-around;
                background: purple">
               
                  <div class="raise-to-bid-text" style="color:white">Notify</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="col-md-3 col-lg-3 categories" style="box-sizing: border-box;">
  <div class="row">
    <div class="categeories-row">
      <div class="categeories-header-text"><h5>Categeories</h5></div>
      <div class="categeories-text">see all &gt;</div>
    </div>
  </div>
  <div class="icons-row">
    <div class="image-icons">
   <img src="../assets/disco-ball (1).png" alt=""> 
    <img src="../assets/dancer1.jpg" alt="">
    <img src="../assets/pianist.png" alt="">
    <img src="../assets/film.png" alt="">
    </div>
    <div class="image-icons">
      <i>Featured</i>
      <i>Dancers</i>
      <i>Musician</i>
      <i>Film star</i>
    </div>
  </div>
  <div class="featured-row" style="margin-top: 10px;">
    <div class="featured-header" style="font-size: 20px;
    font-weight: 700;">Featured Categeories</div>
    <div class="featured-text">see all &gt;</div>
  </div>
  <div class="profile-row" style="display: flex; margin-top: 14px;">
    <div class="user-row">
      <img src="../assets/istockphoto-1339527593-612x612.jpg" alt="">
      <h6>John Doe</h6>
    </div>
    <div class="user-row">
      <img src="../assets/istockphoto-1339527593-612x612.jpg" alt="">
      <h6>John Doe</h6>
    </div>
  </div>
</div>


<!-- sticky bottom for menu in small-screen  -->
<div class="sticky-bottom-bar">
  <a href="#" class="icon"><i class="bi bi-house"></i><div>Home</div></a>
  <a href="#" class="icon"><i class="bi bi-hammer"></i><div>My Bid</div></a>
  <a href="#" class="icon"><i class="bi bi-plus-square"></i><div>Create</div></a>
  <a href="#" class="icon"><i class="bi bi-wallet"></i><div>wallet</div></a>
  <a href="#" class="icon"><i class="bi bi-person"></i><div>Profile</div></a>
</div>

</div>